.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LANDING */

.landing-container {
  text-align: center;
  background-image: url('https://media.gq.com.mx/photos/62041b1eca7b0bd1ee065a33/16:9/w_2560%2Cc_limit/SI202202090248_hires_jpeg_24bit_rgb.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: white;
  font-size: 6rem;
  font-weight: bold;
  animation: changeColor 3s infinite alternate; /* La animación dura 5 segundos, se repite infinitamente y alterna entre los colores */
  text-shadow: 15px 15px 15px black; /* Agrega un borde negro alrededor del texto */

}

@keyframes changeColor {
  0% {
    color: red; /* Color inicial */
  }
  100% {
    color: white; /* Color final */
  }
}

.start-button {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.start-button:hover {
  background-color: #0056b3; /* Color de fondo del botón al pasar el ratón por encima */
}

.start-link {
  text-decoration: none; /* Quitamos la subrayado del enlace */
  color: inherit; /* Hereda el color del texto del contenedor principal */
}

.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 5em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}


/* CARD */

.driver-detail-container {
  border: 10px solid #000; /* Borde negro de 10px */
  border-top-width: 10px; /* Ancho del borde superior */
  border-bottom-width: 10px; /* Ancho del borde inferior */
  border-left-width: 20px; /* Ancho del borde izquierdo (doble que los bordes superior e inferior) */
  border-right-width: 20px; /* Ancho del borde derecho (doble que los bordes superior e inferior) */
  border-radius: 10vh; /* Borde redondeado */
  margin: 10px; /* Margen exterior */
  padding: 20px; /* Relleno interior */
  background-color: #f50606; /* Fondo rojo */
  width: 50%;
}

.driver-link {
  text-decoration: none; /* Quitamos la subrayado del enlace */
  color: inherit; /* Hereda el color del texto del contenedor principal */
}

.driver-info {
  display: flex; /* Utilizamos flexbox para distribuir los elementos */
  flex-direction: column; /* Distribución en columna */
  align-items: center; /* Centramos los elementos horizontalmente */
}

.driver-name,
.driver-lastname,
.driver-description,
.driver-nationality,
.driver-birthday,
.driver-teams {
  margin-bottom: 10px; /* Margen inferior */
  color: white; /* Color del texto blanco para contrastar con el fondo rojo */
}

.driver-image {
  width: 100%; /* Ancho de la imagen al 100% para que se ajuste al contenedor */
  max-width: 200px; /* Ancho máximo de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  margin-bottom: 10px; /* Margen inferior */
  border-radius: 5px; /* Borde redondeado para la imagen */
}

/* DETAIL */
.detail-container {
  border: 1px solid #ccc; /* Borde de la tarjeta */
  border-radius: 5px; /* Borde redondeado */
  margin: 10px; /* Margen exterior */
  padding: 20px; /* Relleno interior */
  background-image: linear-gradient(to bottom,red , black);
  animation: colorChange 3s linear infinite ease-in-out;
}

@keyframes colorChange {
  0% {
    background-image: linear-gradient(to bottom, black, red);
  }
  50% {
    background-image: linear-gradient(to bottom, red, black);
  }
  100% {
    background-image: linear-gradient(to bottom, black, red);
  }
}

.detail-title {
  font-size: 24px; /* Tamaño del título */
  margin-bottom: 20px; /* Margen inferior */
}

.detail-info {
  color: white; /* Color del texto */
}

.detail-info > div {
  margin-bottom: 10px; /* Margen inferior entre cada elemento */
}


/* FORM */

.form-container {
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('  https://cdn-8.motorsport.com/images/mgl/0k7zk7j0/s8/max-verstappen-red-bull-racing-1.jpg  ');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px; /* Margen inferior para etiquetas */
}

.form-container input,
.form-container select {
  margin-bottom: 10px; /* Margen inferior para inputs y selects */
  padding: 5px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 3px; /* Borde redondeado */
}

.form-container input[type="submit"] {
  background-color: #0000ff; /* Color de fondo azul */
  color: #fff; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambio de cursor al pasar */
  border-radius: 3px; /* Borde redondeado */
}

.form-container input[type="submit"]:hover {
  background-color: #333; /* Color de fondo azul oscuro al pasar */
}



.nav-container{
  background-color: #f50606;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  color: white;
  font-size: large;
  font-weight: bold;
  width: 40vw;
}


.bg-home{
  background: url('https://img.freepik.com/vector-gratis/fondo-estilo-3d-bandera-carreras-realista_1017-33419.jpg?w=740&t=st=1706738927~exp=1706739527~hmac=7cce3f07a1711328aff29b7690f9a701da94f95026acfc140e07b22f9868af0a');
  background-size: cover;
  background-repeat: no-repeat;
}

.cards-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-displayer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f50606;
  padding: 1vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}
.f1-logo{
  background-color: white;
  border-radius: 50%;
  
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.utils-container{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.actions-nav{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2vh;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 15em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: 5vh;
  overflow: hidden;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

.escuderia-select{
  display: flex;
  align-items: center;
  justify-content: center;
}








#Container{
  width:667px;
  height:330px;
  position: absolute;
  left:25%; top:10%;
  animation:entrance 2s 1;
  animation-direction:normal;
  -webkit-animation:entrance 2s 1;
  -webkit-animation-direction:normal;
}
#Container div{
  position: absolute;
  opacity: 1;
  
}
@keyframes entrance
{
0%   {  left:-50%; top:10%;}
100%  {left:25%; top:10%;}
}
@-webkit-keyframes entrance 
{
0%   {  left:-50%; top:10%;}
100%  {left:25%; top:10%;}

}
#nose{
  width: 400px;
  height: 25px;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  top: 156px;
  left: 190px;
  z-index:2;
  background:#e74c3c;
}

#nose-top {
   width: 0; 
   height: 0; 
   border-bottom: 21px solid #e74c3c; 
   border-left: 0px solid transparent; 
   border-right: 200px solid transparent; 
   top: 137px;
   left: 340px;
   z-index:3;
}

#nose-bottom{
   width: 0; 
   height: 0; 
   border-top: 21px solid #e74c3c; 
   border-left: 0px solid transparent; 
   border-right: 200px solid transparent; 
   top: 179px;
   left: 340px;
   z-index:3;
}

#front-wing{
  width: 22px;
  height: 166px;
  top: 86px;
  left: 539px;
  z-index: 1;
  background: #e74c3c;
}

#top-front-wing {
width: 0;
height: 0;
border-right: 30px solid #e74c3c;
border-top: 0px solid transparent;
border-bottom: 70px solid transparent;
top: 86px;
left: 515px;
z-index: 1;
}
#top-front-wing-tail {
 width: 49px;
  height: 20px;
  background: #e74c3c;
  top: 86px;
  left: 512px;
}

#top-front-wheel{
  width: 60px;
  height: 35px;
  background: #222;
  top: 83px;
  left: 437px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  z-index: 2;

}
#top-back-wheel{
  width: 60px;
  height: 35px;
  background: #222;
  top: 83px;
  left: 120px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  z-index: 2;

}

#top-body-curve {
  width: 85px;
  height: 32px;
  background: #e74c3c;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  top: 104px;
  left: 289px;
}

#top-body-curve-cut {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 50px solid #e74c3c;
  top: 113px;
  left: 372px;
}

#top-body-curve-straight {
  width: 100px;
  height: 30px;
  background:#e74c3c;
  top: 116px;
  left: 207px;
  transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  z-index:2;
}
#top-body-curve-straight-2{
  width: 45px;
  height: 30px;
  background: #e74c3c;
  top: 137px;
  left: 174px;
  transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -webkit-transform: rotate(-36deg);
  z-index: 2;
}
#top-front-wing-trim{
width: 14px;
height: 6px;
background: #e74c3c;
top: 124px;
left: 554px;
z-index: 1;
}
#top-front-wing-trim-2{
width: 14px;
height: 25px;
background: #e74c3c;
top: 92px;
left: 554px;
z-index: 1;
}
#bottom-front-wing-trim-2{
width: 14px;
height: 25px;
background: #e74c3c;
top: 220px;
left: 554px;
z-index: 1;
}
#bottom-front-wing-trim{
width: 14px;
height: 6px;
background: #e74c3c;
top: 207px;
left: 554px;
z-index: 1;
}

#top-spoke-1{
  width: 8px;
  height: 60px;
  background: #777;
  z-index: 0;
  top: 96px;
  left: 465px;
  transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
}

#top-spoke-2{
  width: 8px;
  height: 60px;
  background: #777;
  z-index: 0;
  top: 105px;
  left: 475px;
  transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
}

#top-spoke-3{
  width: 5px;
  height: 60px;
  background: #777;
  z-index: 0;
  top: 105px;
  left: 457px;
  transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  -webkit-transform: rotate(23deg);
}
#top-spoke-4{
  width: 8px;
  height: 60px;
  background: #777;
  z-index: 0;
  top: 105px;
  left: 445px;
  transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
}


#bottom-spoke-1{
  width: 8px;
  height: 60px;
  background: #777;
  z-index: 0;
  top: 172px;
  left: 465px;
  transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  -webkit-transform: rotate(9deg);
}

#bottom-spoke-2{
  width: 8px;
  height: 60px;
  background: #777;
  z-index: 0;
  top: 172px;
  left: 475px;
  transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
}

#bottom-spoke-3{
  width: 5px;
  height: 60px;
  background: #777;
  z-index: 0;
  top: 172px;
  left: 457px;
  transform: rotate(-23deg);
  -ms-transform: rotate(-23deg);
  -webkit-transform: rotate(-23deg);
}
#bottom-spoke-4{
  width: 8px;
  height: 60px;
  background: #777;
  z-index: 0;
  top: 172px;
  left: 445px;
  transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -webkit-transform: rotate(-36deg);
}

#back-spoke{
  width: 18px;
  height: 160px;
  background: #777;
  z-index: 0;
  top: 92px;
  left: 141px;
}




#bottom-front-wing {
width: 0;
height: 0;
border-right: 30px solid #e74c3c;
border-bottom: 0px solid transparent;
border-top: 70px solid transparent;
top: 182px;
left: 515px;
z-index: 1;
}
#bottom-front-wing-tail {
 width: 49px;
  height: 20px;
  background: #e74c3c;
  top: 232px;
  left: 512px;
}

#bottom-front-wheel{
  width: 60px;
  height: 35px;
  background: #222;
  top: 219px;
  left: 437px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  z-index: 2;

}
#bottom-back-wheel{
  width: 60px;
  height: 35px;
  background: #222;
  top: 219px;
  left: 120px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  z-index: 2;

}
#rear-body{
  width: 16px;
  height: 96px;
  background: #e74c3c;
  top: 120px;
  left: 147px;
  z-index: 2;
}

#rear-wing-bg{
  width: 53px;
  height: 84px;
  border-top: 6px solid #e74c3c;
  border-bottom: 6px solid #e74c3c;
  background: #ecf0f1;
  top: 120px;
  left: 103px;
  z-index: 1;
}


#bottom-body-curve {
  width: 85px;
  height: 32px;
  background: #e74c3c;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  top: 201px;
  left: 289px;
}

#bottom-body-curve-cut {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 18px solid transparent;
  border-top: 50px solid #e74c3c;
  top: 174px;
  left: 372px;
}
#bottom-body-curve-straight {
  width: 100px;
  height: 30px;
  background:#e74c3c;
  top: 191px;
  left: 207px;
  transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  z-index:2;
}

#bottom-body-curve-straight-2{
  width: 45px;
  height: 30px;
  background: #e74c3c;
  top: 171px;
  left: 174px;
  transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
  z-index: 2;
}

#body-hood{
  width: 134px;
  height: 93px;
  background: #e74c3c;
  top: 123px;
  left: 240px;
  z-index: 2;
}

#back-body-curve {
  width: 85px;
  height: 60px;
  background: #e74c3c;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  top: 139px;
  left: 168px;
  z-index: 1
}

#back-body{
  width: 85px;
  height: 94px;
  background: #222;
  top: 122px;
  left: 148px;
  z-index: 0;
}
#back-body-top {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 12px solid #222;
  z-index: 0;
  top: 111px;
  left: 172px;
}

#back-body-bottom {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 0 solid transparent;
  border-top: 12px solid #222;
  z-index: 0;
  top: 214px;
  left: 172px;
}

#back-body-2{
  width: 97px;
  height: 115px;
  background: #222;
  top: 111px;
  left: 192px;
  z-index: 0;
}
#mirror-bottom{
  background: #e74c3c;
  width: 13px;
  height: 23px;
  top: 191px;
  left: 385px;
  z-index: 5;
  border-radius: 0 90px 90px 0;
 -moz-border-radius: 0 90px 90px 0;
 -webkit-border-radius:  0 90px 90px 0;
}
#mirror-top{
  background: #e74c3c;
  width: 13px;
  height: 23px;
  top: 122px;
  left: 385px;
  z-index: 5;
  border-radius: 0 90px 90px 0;
 -moz-border-radius: 0 90px 90px 0;
 -webkit-border-radius:  0 90px 90px 0;
}
#driver-bg{
  width: 68px;
  height: 29px;
  background: #222;
  top: 155px;
  left: 331px;
  z-index: 5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#driver-wheel{
  width: 5px;
  height: 25px;
  background: #95a5a6;
  top: 157px;
  left: 391px;
  z-index: 5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px
}

#bottom-body-spine{
  background: #c0392b;
  width: 80px;
  height: 5px;
  top: 197px;
  left: 300px;
  z-index: 4; 
  opacity:0.2 !important;
}
#top-body-spine{
  background: #c0392b;
  width: 80px;
  height: 5px;
  top: 135px;
  left: 300px;
  z-index: 4; 
  opacity:0.2 !important;
}
#bottom-body-spine-2{
  background: #c0392b;
  width: 115px;
  height: 5px;
  top: 187px;
  left: 186px;
  z-index: 4;
  transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  opacity:0.2 !important;
  }
#top-body-spine-2{
  background: #c0392b;
  width: 115px;
  height: 5px;
  top: 145px;
  left: 186px;
  z-index: 4;
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  opacity:0.2 !important;
}
#end-body-spine{
  width: 80px;
  height: 30px;
  top: 153px;
  left: 180px;
  z-index: 4; 
  -webkit-border-radius: 50px 0px 0px 50px;
    border-radius: 50px 0px 0px 50px;
    border-left:6px solid #c0392b;
    opacity:0.2 !important;
}
#driver-helmet{
background: #3498db;
width: 27px;
height: 25px;
top: 157px;
left: 332px;
z-index: 6;
-webkit-border-radius: 20px 50px 50px 20px;
border-radius: 20px 50px 50px 20px;
}